<h2 class='commentator'>Rules of the game</h2>
<div class='commentator'>The principle of this game is the same as that of <span class='highlight'>Paper, Rock, scissors.</span></div>
<div class='commentator'>In this game you append your chosen move to the url in the browser </div>
<div class='commentator'><span class='highlight'>i.e. localhost:4567/Rock/Scissors</span></div>
<div class='commentator'>Player 1 is the item on the left and player 2 the item on the right</div>
<div class='commentator'>Hit Enter once you've input and knock yourself out</div>
<div class='commentator'><span class='highlight'>Take Note!</span></div>
<div class='commentator'>Moves must start with a capital letter to be valid.</div>
